.forgot-password-container {
    max-width: 450px;
    margin: 13% auto;
    padding: 40px;
    background-color: $blue;
    border-radius: 5px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    .forgot-title{
      font-family: 'Lobster', cursive;
      color: $white;
      text-align: center;

      &-line{
        opacity: 1;
        width: 150px;
        border-top: 3px solid $orange;
        margin: 0 auto;
        margin-bottom: 7%;
      }
    }

    .p-password-input, 
    .p-inputtext{
      outline: none;
      box-shadow: none;
      width: 100%;
      background-color: rgba($color: #000000, $alpha: 0.6);
      color: white;
      border: 0;
      border-bottom: 3px solid $orange ;
      border-radius: 0;
      transition: none;
    }

    .p-inputtext:enabled:hover,
    .p-inputtext:enabled:focus,
    .p-inputtext:active {
      outline: none;
      box-shadow: none;
      border-color: initial;
      border-bottom: 3px solid $orange ;
    }

    .btn-warning {
      background-color: $orange;
      border-color: $orange;
      width: 100%;
      color: $white;
      font-weight: bold;
      margin: 5% 0;
      opacity: 0.8;
  
      &:hover{
          background-color: $white;
          border-color: $white;
          color: $orange;
          opacity: 0.8;
      }
    }

    .link {
      color: $orange;
      font-size: 1.2rem;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  // .reset-password-container {
  //   max-width: 500px;
  //   margin: 0 auto;
  //   padding: 50px;
  //   background-color: #fff;
  //   border-radius: 5px;
  //   box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  //   .btn-submit {
  //     display: block;
  //     width: 100%;
  //     margin-top: 30px;
  //   }
  //   .link {
  //     color: #007bff;
  //     cursor: pointer;
  //     &:hover {
  //       text-decoration: underline;
  //     }
  //   }
  // }
  