.home-screen {
    display: flex;
  }
  
  .left-side {
    .for-you-btn{
      font-family: 'Bungee Outline', cursive;
    }
  }
  
  .right-side {
    
    position: fixed;
    height: calc(100vh - 90px);
    right: 0;

    &-label{
        background-color: $blue;
        color: $white;
        text-align: center;
        font-family: 'Bungee Outline', cursive;
        font-size: 4rem;
        border-top-left-radius: 1.2rem;
        border-top-right-radius: 1.2rem;
        margin-bottom: .5rem;
    }
  }


  